{{- $codespaces:= env "CODESPACES" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[git]
    autoCommit = true
    autoPush = true 

[data]
    name = "Ray Johnson"
    codespaces = {{ $codespaces }}

